<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjsu.mobilebikelet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.sjsu.mobilebikelet.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sjsu.mobilebikelet.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>        
        <activity
            android:name="com.sjsu.mobilebikelet.MainActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.sjsu.mobilebikelet.HomeScreenActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.sjsu.mobilebikelet.CheckinActivity"
            android:label="@string/title_activity_checkin" >
        </activity>
        <activity
            android:name="com.sjsu.mobilebikelet.CheckoutActivity"
            android:label="@string/title_activity_checkout" >
        </activity>
        <activity
            android:name="com.sjsu.mobilebikelet.ViewTransactionActivity"
            android:label="@string/title_activity_view_transaction" >
        </activity>
        
        <activity
            android:name="com.sjsu.mobilebikelet.ViewStatsFormActivity"
            android:label="@string/title_activity_start_form" >
        </activity>
        <activity
            android:name="com.sjsu.mobilebikelet.ViewStatsActivity"
            android:label="@string/title_view_stat" >
        </activity>    
    </application>

</manifest>